<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align:center" >
        {% include 'navbar.html' %}
        <h1>About our website</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt ratione, maxime iusto blanditiis ullam doloribus modi. Officia consequatur ad facere ipsa sit deserunt laborum, magni voluptas hic, veritatis modi cupiditate dolore pariatur laboriosam fuga. Soluta, nihil amet nam suscipit asperiores facere eaque. Iure reiciendis, laudantium doloremque alias aliquam at.</p>
        <button>contact Us </button>
    </div>
    
</body>
</html>